.containerCard {
  margin:20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.itemCard {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 1%;
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.itemCard {
  padding: 5px;
}

.itemCard p {
  flex-grow: 1;
}

.itemCard button {
  align-self: flex-end;
}
