@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  background-color: #131313;
}

h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.media-picture {
  width: 100%;
  height: 400px;
  background-image: url("https://images.unsplash.com/photo-1522100566122-761ddcf1db3e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmlibGlvdGVjYXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60");
  background-size: cover;
  background-position: top;
}

.review-score {
  color: white;
  background-color: #e6bd09;
  padding: 12px;
}

h2 {
  color: steelblue;
}

p {
  color: #bdbdbd;
  font-family: 'Roboto', sans-serif;
}

a {
  color: yellow;
}